@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.root {
  font-family: "Inter";
  font-weight: 700;
  background-color: hsl(227, 47%, 96%);
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: end;
}
.root :hover {
  cursor: pointer;
  background-color: hsl(230, 22%, 74%);
}

.title {
  text-align: start;
  font-size: 12px;
  color: hsl(228, 12%, 44%);
}

.details {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.number {
  font-weight: 900;
  color: hsl(230, 17%, 14%);
  font-size: 23px;
  text-align: start;
}

.stats {
  text-align: right;
  font-size: 10px;
}
