@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html {
    --textPrimary: hsl(230, 17%, 14%);
    --bgCard: hsl(227, 47%, 96%);
    --textSecondary: hsl(228, 12%, 44%);
    --toggle: hsl(231, 13%, 79%);
}
html[data-theme="dark"]{
    --textPrimary: hsl(0, 0%, 100%);
    --bgCard: hsl(228, 28%, 20%);
    --textSecondary: hsl(228, 34%, 66%);
    --toggle: linear-gradient(hsl(210, 78%, 56%) to hsl(146, 68%, 55%));
}

.rootNormal {
  font-family: "Inter";
  font-weight: 700;
  background-color: var(--bgCard);
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.rootNormal :hover {
    cursor: pointer;
    background-color: var(--toggle);
}

.img {
    margin-right: 10px;
}

.userName {
  font-size: 12px;
  color: var(--textSecondary);
  text-align: center;
}

.details {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.numberNormal {
  text-align: center;
  font-weight: 1000;
  color: var(--textPrimary);
  font-size: 40px;
  margin-bottom: -10px;
}

.followers {
  font-weight: 400;
  font-size: 12px;
  color: var(--textSecondary);
  letter-spacing: 3px;
}

.statsNormal {
  text-align: center;
  font-size: 10px;
}
