@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
html {
  --bg: hsl(0, 0%, 100%);
  --textPrimary: hsl(230, 17%, 14%);
  --textSecondary: hsl(228, 12%, 44%);
}
html[data-theme="dark"]{
  --bg: hsl(230, 17%, 14%);
  --textPrimary: hsl(0, 0%, 100%);
  --textSecondary: hsl(228, 34%, 66%);
}

.body {
  background-color: var(--bg);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  padding-top: 10px;
  padding-bottom: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subjet {
  font-weight: 800;
  font-family: 'Inter';
  color: var(--textPrimary);
}

.subtitle {
  font-size: 12px;
  color: var(--textSecondary);
  font-weight: 600;
  font-family: 'Inter';
}

.switch {
  font-size: 15px;
  color: hsl(228, 12%, 44%);
  font-weight: 600;
  font-family: 'Inter';
  text-align: end;
}
